@charset "utf-8";

#loginInter .tabs {
    position: relative;
	margin: 10px auto;
	width: 430px;
	font-family: Arial,Helvetica,sans-serif;
}
#loginInter .tabs input[name=radio-set] {
	position: absolute;
	z-index: 1000;
	width: 100px;
	height: 40px;
	left: 0px;
	top: 0px;
	opacity: 0;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
	cursor: pointer;
}
#loginInter .tabs input[name=radio-set]#tab-2{
	left: 120px;
}
#loginInter .tabs label {
	font-size: 10px;
	line-height: 40px;
	height: 40px;
	position: relative;
	/*padding: 0 20px;*/
	margin-left:15px;
    float: left;
	display: block;
	width: 90px;
	color: #000;
	letter-spacing: 1px;
	text-transform: uppercase;
	/*font-weight: bold;*/
	text-align: center;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	border-color: #8F8D8D;
	border-top: 1px solid;
	border-right: 1px solid;
	border-left: 1px solid;
    border-radius: 3px 3px 0 0;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1), -2px 0 2px rgba(0,0,0,0.1);
}
#loginInter .tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
}
#loginInter .tabs input[name=radio-set]:hover + label {
	background: #393431;
}
#loginInter .tabs label:first-of-type {
    z-index: 4;
    box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}
#loginInter .tab-label-2 {
    z-index: 3;
}
#loginInter .tabs input[name=radio-set]:checked + label {
    background: #f5f5f5;
	z-index: 6;
}
#loginInter .tabs .clear-shadow {
	clear: both;
}
#loginInter .tabs .content {
    background: #fff;
	position: relative;
    width: 100%;
	height: 220px;
	z-index: 5;
    box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
	border: 1px solid #8F8D8D;
    border-radius: 0 3px 3px 3px;
}
#loginInter .tabs .content div.content-1,
#loginInter .tabs .content div.content-2{
	width: 100%;
    position: absolute;
	/*top: 0;
	left: 0;*/
	padding: 10px 15px;
	z-index: 1;
    opacity: 0;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}
#loginInter .tabs input.tab-selector-1:checked ~ .content .content-1,
#loginInter .tabs input.tab-selector-2:checked ~ .content .content-2 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}

/* LOGIN */
#loginInter .tabs .content div.login-content{
	/*width:200px;*/
}
#loginInter .tabs .content div.login-content p{
	margin-top: 5px;
	margin-bottom: 0px;
}
#loginInter .tabs .content div.login-content form{
	margin-top:10px
}
#loginInter .tabs .content div.content-1 input,
#loginInter .tabs .content div.content-2 input{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.428571429;
	color: #555;
	vertical-align: middle;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
	-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
#loginInter .tabs .content div.login-content input[type=checkbox]{
	display: inline;
	width: auto;
}
#loginInter .tabs .content div.login-content span{
	font-size: 10px;
}
#loginInter .tabs .content div.login-content span:hover{
	color: rgb(55, 177, 218);
	cursor: pointer;
	transition: color 100ms ease-in-out;
	-webkit-transition: color 100ms ease-in-out;
}
#loginInter .tabs .content div.login-content button{
	float: right;
	margin-right: 15px;
	height: 25px;
	border-radius: 5px;
	padding: 0 10px;
}

/* REGISTRAR */
#loginInter .tabs .content div.regist-alquiler-conten .button-resg{
	position:absolute;
	top: 130px;
	right:18%;
}
#loginInter .tabs .content div.regist-alquiler-conten h2{
	margin:0px;
}
#loginInter .tabs .content div.regist-alquiler-conten p{
	margin: 5px 0px;
}
#loginInter .tabs .content div.regist-alquiler-conten span{
	font-size: 12px;
}
#loginInter .tabs .content div.regist-alquiler-conten form{
	width: 100%;
	margin-left: 5px;
}

/*	VENTANA MSJ NOTIFICACION - FS */
#loginInter .tabs .content div.msj-notif{
	display:none;
	position:absolute;	
	top:36%;
	left:0px;
	right:0px;
	margin:auto;
	width:180px;
	height:auto;
	text-align:center;
	z-index:9999;		
}
#loginInter .tabs .content #login-msjresp div.notif_exito,
#loginInter .tabs .content #login-msjresp div.notif_alerta,
#loginInter .tabs .content #login-msjresp div.notif_error{
	border:4px double;
	border-radius: 10px;
	font:bold 12px "ROCK";
	padding:15px 8px 15px 10px;
	cursor:pointer;		
}
#loginInter .tabs .content #login-msjresp div.notif_exito{
	color: #4F8A10;
	background-color: #DFF2BF;
}
#loginInter .tabs .content #login-msjresp div.notif_alerta{
	color: #9F6000;
	background-color: #FEEFB3;
}
#loginInter .tabs .content #login-msjresp div.notif_error{
	font:bold 15px "Trebuchet MS";		
	color: #D8000C;
	background-color: #FFBABA;
}
#loginInter .tabs button{
	width: 230px;
	margin-top: 10px;
	font-size: 20px;
	font-weight: bold;
	background-color: #43ab54;
	height: 30px;
	border-radius: 5px;
	border: 0px;
	color:#ffffff;
	padding: 0 20px;
	transition: background-color 200ms ease-in-out;
	-webkit-transition: background-color 200ms ease-in-out;
	cursor: pointer;
}
#loginInter .tabs button:hover{
	background-color: #393431;	
	transition: background-color 100ms ease-in-out;
	-webkit-transition: background-color 100ms ease-in-out;
}